build/*.exe
build/*.pdb
build/bin/*.exe
build/bin/*.ilk
build/symbol/*.pdb
.bash_history
.wget-hsts
.python_history
/.vs
*.obj
*.exe
*.ilk
/winapi/WinApiSamples/Debug
/winapi/WinApiSamples/.vs/WinApiSamples/v16
/winapi/WinApiSamples/x64/Debug
